@mixin flex($justify-content){
    display: flex;
    align-items: center;
    justify-content: $justify-content;
}
@mixin media($maxWidth){
    @media only screen and (max-width: $maxWidth){
        @content;
    }
}